$fontcolor:#41FF00;

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  font-family:'Hack', sans-serif;
  font-size: 18px;
  color: $fontcolor
}
span {
  padding: 2px;
  border: 1px $fontcolor solid;
}
pre {
  font-size: 8px;
}