* {
  font-family: "Hack", sans-serif;
  font-size: 18px;
}

#story-text {
  font-size: 1em;
}

#story-text > span {
  border-bottom: 2px solid #41ff00;
}

* {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1B1D21;
  color: #41ff00;
}
body #onkeypress__active {
  animation: blink 2s linear 1s infinite forwards;
}
body #onkeypress__active span {
  padding: 2px;
  border: 1px #41ff00 solid;
}
body pre {
  font-size: 8px;
}

#console__field {
  margin: 10px;
  padding: 10px;
  height: 400px;
  width: 300px;
  text-align: right;
}

#text__input {
  background: #1B1D21;
  color: #41ff00;
  text-align: right;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hidden {
  display: none;
}