body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  font-family: "Hack", sans-serif;
  font-size: 18px;
  color: #41FF00;
}

span {
  padding: 2px;
  border: 1px #41FF00 solid;
}

pre {
  font-size: 8px;
}